*{
box-sizing: border-box;
margin: 0px !important;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
/* background-color: rgba(255, 255, 255, 0.9); */
/* background-color: #baa6a4; */
/* background-color: #f5dbd9; */
background-color: rgb(255, 255, 255);
}

.cart-product-number{
    background-color: rgb(243, 6, 6);
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -20px;
    padding: 0px 5px;
    align-items: center;
    color: rgb(252, 252, 252);
    
}

a{
    color: white;
}

.slider-img{
    width: 650px;
    position: absolute;
    bottom: 0px;
}

.header{
/* background-image: url("../public/img/new/newwall.jpg"); */
background-image: linear-gradient(
   to bottom, 
   rgb(186, 202, 210),
   rgb(215, 242, 255)
);
top: 0%;
width: 100%;
height: 85vh;
background-repeat: no-repeat;
background-size: cover;
position: relative;
border: 2px rgb(199, 241, 255) solid;
}

.text-lg{
    font-size: 3.5rem;
}

.text-md{
    font-size:2.5rem;
}

.promo-sales {
    position: relative;
    background-image: linear-gradient(
        to bottom, 
        rgb(186, 202, 210),
        rgb(215, 242, 255)
    );
    background-image: url(/public/img/new/lllm.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.promo-sales img {
    position: absolute;
    top: -2%;
    right: 10%;
    width: 20%;
}

.categories-header-text{
    width: 100%;
    padding: 100px 20px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
}

i{
    cursor: pointer;
}

.arrow-up:hover{
    box-shadow: 1px -5px 1px 4px rgba(0, 0, 0, 0.3);
    border: 5px ;
    border-radius: 50%;
}

.arrow-down:hover{
    box-shadow: 1px 5px 1px 4px rgba(0, 0, 0, 0.3);
    border: 5px ;
    border-radius: 50%;
}

.cart-content{
    padding: 20px;
    border-bottom: .5px rgba(211, 192, 192,0.5) solid;
}

.selected-img{
    width: 600px;
    height: 600px;
    border: 2px lightblue solid;
}

.background-img{
    width:150px;
    height:150px;
    z-index: 0;
    border-radius: 50%;
    border: 2px lightblue solid;
}

.background-img:hover{
box-shadow: 12px 5px 20px 3px rgba(0, 0, 0, 0.8);
cursor: pointer;
transform: rotate(10deg);
transition: transform .2s ease;
}



.header-text{
/* background-color: rgba(0, 0, 0, 0.5); */
/* position: absolute;
top: 50%;
left: 0; */
width: 500px;
height: 300px;
padding: 50px 20px;
backdrop-filter: blur(5px);
border: 2px rgb(173, 216, 230) solid;
}

.header-text h3{
font-family: 'Courier New', Courier, monospace;
font-size: 2.5rem;   
font-weight: 400;
}

.header-text h2{
font-size: 3.5rem;   
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
}

.login-card{
background-color: rgba(0, 0, 0, 0.5);
width: 400px;
height: 500px;
padding: 10px 10px;
background-image: linear-gradient(to bottom,
    rgb(255, 255, 255),
    rgb(186, 202, 210)
);
}

.login-header{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

label{
display: flex;
/* justify-content: start; */
}

.cart-product img{
    width: 100px;
    height: 100px;
}

.signup-header{
    display: flex;
    justify-content: center;
    height: 150vh;
    align-items: center;
}

.signup-card{
background-image: linear-gradient(to bottom,
    rgb(255, 255, 255),
    rgb(186, 202, 210)
);
width: 600px;
height: 750px;
padding: 10px 10px;
}

.error-message{
    color: rgb(255, 0, 0);
    font-size: 1rem;
}

.success-message{
    color: rgb(15, 224, 15);
    font-size: 1rem;
}

input[ type= text ]{
width: 100%;
border: none;
border-radius: 0px;
padding: 10px 10px;
border-bottom: 2px black solid;
background-color: transparent;
}

input[ type= email ]{
width: 100%;
border: none;
border-radius: 0px;
padding: 10px 10px;
border-bottom: 2px black solid;
background-color: transparent;
}

input[ type= password ]{
width: 100%;
border: none;
padding: 10px 10px;
border-bottom: 2px black solid;
background-color: transparent;
}

input[ type= date ]{
width:100%;
border: none;
padding: 10px 10px;
border-bottom: 2px black solid;
background-color: transparent;
}

input[ type= radio ]{
width:50%;
border: none;
padding: 10px 10px;
border-bottom: 2px black solid;
background-color: transparent;
}

.contact{
/* background-image: linear-gradient(
to top,
rgba(17, 130, 150, 0.3) 0,
rgba(46, 0, 61, 0.5) 60%,
rgba(46, 0, 61, 0.9)
); */
background-color: rgb(61, 124, 145);
width: 100%;
height: 50vh;
padding: 50px 20px;
}

.contact h5{
font-family: 'Courier New', Courier, monospace;
font-size: 80px;   
font-weight: 400;  
}

.contact h6{
font-size: 20px;   
font-weight: 400;
}

.contact-text{
width:100%;
}

.contact input{
width: 50%;
padding: 10px 15px;
color: rgb(255, 255, 255);
box-shadow: unset 2px 2px;
border: 2px rgb(255, 255, 255) solid;
font-size: 20px;
border-radius: 0px;
}

.checkout{
height: auto;
}

.size{
flex-wrap: wrap;
}

.size-text{
font-size: 20px;
border: 2px rgb(121, 121, 121) solid;
padding: 10px 10px;
}

.size :hover{
cursor: pointer;
background-color: black;
color: aliceblue;
}

.view-img{
cursor: pointer;
border-radius: 5px;
}

.view-img :hover{
border-color: 5px;
}

.quatity{
font-size: 50px;
}

.step{
background-color: black;
width:  85%;
color: wheat;
}

.step h3{
min-height: 80px;
max-height: 100px;
}

.step p{
min-height: 0px;
max-height: 0px;
}

.table-content{
display: flex;
}

.list{
background-color: aliceblue;
width: 20rem;
height: 25rem;
margin: 20px 10px;
box-shadow: 10px 5px rgba(0, 0, 0, 0..5);
}

.list-expand{
background-color: aliceblue;
width: 60rem;
height: auto;
margin: 20px 10px;
box-shadow: 10px 5px rgba(0, 0, 0, 0..5);
}

.dashboard{
/* background-color: rgb(40, 40, 40); */
background-color: rgb(61, 124, 145);
height: 100vh;
width: 25%;
position: relative;
color: rgb(255, 255, 255);
box-shadow: 15px 5px 10px 0px rgba(0, 0, 0, 0.11);
backdrop-filter: blur(5px);
font-size: 15px;
border-radius: 5px;
border: 2px lightblue solid;
}

.dashboard-list:hover{
background-color: rgba(0, 0, 0, 0.2);
width: 100%;
}

.info{
/* background-color: rgb(242, 242, 242); */
position: relative;
width: 100%;
height: 100vh;
}


.info-form{
padding: 0px 50px;
}


.categories-list{
padding: 10px 10px;
color: rgb(255, 255, 255);
font-size: 20px;
}

.categories-list:hover{
background-color: rgba(0, 0, 0, 0.2);
width: 100%;
}

.dashboardcategories{
/* background-color: rgba(255, 254, 254, 0.15); */
background-color: rgb(61, 124, 145);
box-shadow: 15px 5px 10px 0px rgba(0, 0, 0, 0.11);
backdrop-filter: blur(5px);
/* background-color: rgb(40, 40, 40); */
height: auto;
width: 100%;
color: rgb(255, 255, 255);
}

.sale-box{
background-image: url('../public/img/seiko_watch_main.webp');
background-repeat: no-repeat;
/* backdrop-filter: blur(50px); */
width: 900px;
height: auto;
display: flex;
padding: 20px 0px;
box-shadow: 12px 5px 20px 3px rgba(0, 0, 0, 0.5);
overflow: auto;
overflow-y: hidden;
border: 2px lightblue solid;
}

::-webkit-scrollbar {
width: 5px;
height: 2px;
}

::-webkit-scrollbar-thumb {
background:rgb(0, 0, 0); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background:rgb(54, 56, 58);
} 

/* .content-cart{
    border-bottom: 2px  rgb(61, 124, 145) solid;
} */
.shopping-cart-card{
    width:50rem;
    height: auto;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px 20px !important;
    overflow: scroll;
}

.shopping-cart-card h4{
    font-size: 20px;
}

.checkout-cart-card{
    width:23rem;
    height: 60vh;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px 20px !important;
}
.checkout-cart-card h4{
  font-size: 20px;
  font-weight: -200;
}

.size-box{
    width: 390px;
    color: black;
    /* background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4) 0,
        rgba(49, 28, 59, 0.9) 60%,
        rgba(255, 255, 255, 0.4)
        ); */
    /* background-color: white; */
    backdrop-filter: blur(5px);
    box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.3);
    z-index: 3333;  
    padding-top: 20px;
    border-radius: 10px;
}

.info-view{
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}


@keyframes spinner {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading-spiner{
    width: 20px;
    height: 20px;
    border: 5px solid red ;
    border-top: 5px solid rgb(0, 0, 240);
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.loading-container{
    height: 50vh;
    width: 50vh;
    align-items: center;
}

.loading-container-end{
    height: 0px;
}

@media (max-width: 768px) {
    .promo-sales img {
        position: absolute;
        top: 0;
        right: 10%;
        width: 30%;
    }
.header-text{
    width: 100%;
}

.header-text h3{
    font-size: 25px;
    color: rgb(249, 255, 255);
}
    
.header-text h2{
font-size: 40px;  
color: rgb(249, 255, 255); 
}

.sale-box{
    width: 80%;
    height: auto;
}

.background-img{
    width: 100px;
    height: 100px;
}

.step{
    display: none;
}

.contact{
    padding: 30px 20px;
    height: 55vh;
}
    
.contact h5{
    font-size: 40px;     
}
    
.contact h6{
    font-size: 15px;   
    font-weight: 200;
}
    
.contact input{
    width: 100%;
    padding: 10px 15px;
}

  
/* .cart-content{
width: 380px;
height: 29rem;
} */

.checkout{
    display: grid;
    justify-content: center;
}

.side-bar{
    background-color: rgba(235, 246, 255, 0.15);
    backdrop-filter: blur(1px);
    width: 99%;
    height: auto;
    border: 10px #e8c2ca solid;
    box-shadow: 6px 2.5px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: auto;
    display: flex;
    margin: 20px 0px !important;
    overflow: auto;
    overflow-y: hidden;
}

.sidebar-img{
    border-radius: 50%;
}

.sidebar-img:hover{
box-shadow: 6px 2.5px 10px 3px rgba(0, 0, 0, 0.8);
transform: rotate(10deg);
transition: transform .2s ease;
}

.selected-img{
    width: 400px;
    height: 400px;
}

.view-img{
    border-radius: 50%;
}

.product-details{
    width: auto; 
    padding: 30px 20px;
}

.dashboardcategories{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.categories-list{
   margin: 0px !important;
}

.dashboard{
    /* position: absolute;
    top: 15%;
    left: 0;
    z-index: 100;
    width: 300px;
    margin: 0px !important; */
    display: none;
}

.info{
    background-color: rgb(242, 242, 242);
    position: relative;
    height: auto;
    margin: 20px;
    }

.info-form{
    padding: 0px 0px;
}


.header-text{
    top: 30%;
    height: auto;    
}
    

.slider-img{
    width: 445px;
    height: 500px;
    left: 0px;
}

.header-text{
z-index: 2;
position: absolute;
bottom: 0px;
height: 250px;
}


.text-lg{
    font-size: 2.5rem;
}

.text-md{
    font-size: 2rem;
}

.text-sm{
    font-size: 1rem;
}

.cart-bag-img{
    display: none;
}

.dashboardcategories{    
    height: auto;
    width: 15rem;
    color: rgb(255, 255, 255);
}

.titles h3{
    font-size: 12px;
}

.cart-product img{
    width: 50px;
    height: 50px;
}

.cart-product h6{
    font-size:12px;
}


}